<ion-header (window:keydown)="onKey($event)">
  <ion-navbar>
    <button ion-button color="light" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Possible duplicates</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="graybg">
  <ion-list>
    <ion-item *ngFor="let duplicate of duplicates" class="graybg">
      {{duplicate.textDuration}}
      <ion-grid class="no-padding" align-to-top>
        <ion-row no-padding>
          <ion-item no-padding col-6 col-xl-2 col-sm-4 ion-item class="graybg" *ngFor="let item of duplicate.movie">
            <div col-12 style="position: relative; width: 100%; padding-top: 56.25% !important;">
              <div style="position: absolute; top: 0; left: 0; bottom: 0; right: 0;" (click)="itemTapped($event, item)">
                <img [src]="item.icon" style="object-fit: cover; width: 100%; height: 100%;"/>
              </div>
              <ion-badge class="more" (click)="deleteMovie($event, item)">
                <ion-icon name="md-trash" style="padding-right: 3px !important; padding-left: 3px !important;"></ion-icon>
              </ion-badge>
              <p class="duration">{{item.size}}</p>
            </div>
            <p col-12 style="color: #8c8c8c">{{item.title}}</p>
          </ion-item>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
