page-actors {

}

.no-padding * {
  padding: 0 !important;
  margin: 0;
  border: 0 !important;
}

.badge {
  padding: 4px !important;
  margin-right: 2px;
  margin-bottom: 1px;
  margin-top: 1px;
  background: #32db64;
}
