<ion-header (window:keydown)="onKey($event)">
  <ion-navbar>
    <button ion-button color="light" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons left>
      <button ion-button color="secondary" (click)="changePage($event, -100000000)">
        Start
      </button>
      <button ion-button color="secondary" (click)="changePage($event, -10)">
        -10
      </button>
      <button ion-button color="secondary" (click)="changePage($event, -1)">
        -1
      </button>
      <button ion-button color="secondary" (click)="changePage($event, 1)">
        +1
      </button>
      <button ion-button color="secondary" (click)="changePage($event, 10)">
        +10
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button color="secondary">page {{currentPage}} of {{pageCount}}</button>
    </ion-buttons>
    <ion-list left>
      <ion-item align-self-start col-2 float-left class="select-bg">
        <ion-label>Actors</ion-label>
        <ion-select #filterArtists multiple="true">
          <ion-option value="0">None</ion-option>
          <ion-option *ngFor="let item of artists" value="{{item.id}}">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item align-self-start col-2 float-left class="select-bg">
        <ion-label>Categories</ion-label>
        <ion-select #filterCategories multiple="true">
          <ion-option value="0">None</ion-option>
          <ion-option *ngFor="let item of categories" value="{{item.id}}">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
      <p hidden>
        <ion-item align-self-start hidden float-left>
          <ion-label>Actors</ion-label>
          <ion-select #hiddenArtist multiple="true">
            <ion-option *ngFor="let item of artists" value="{{item.id}}">{{item.name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item align-self-start hidden float-left>
          <ion-label>Categories</ion-label>
          <ion-select #hiddenCategory multiple="true">
            <ion-option *ngFor="let item of categories" value="{{item.id}}">{{item.name}}</ion-option>
          </ion-select>
        </ion-item>
      </p>
    </ion-list>
  </ion-navbar>
</ion-header>

<ion-content class="graybg">
  <ion-grid class="no-padding" align-to-top>
    <ion-row no-padding>
      <ion-item no-padding col-6 col-xl-5-col col-sm-4 ion-item class="graybg" *ngFor="let item of items">
        <div col-12 style="position: relative; width: 100%; padding-top: 56.25% !important;">
          <div style="position: absolute; top: 0; left: 0; bottom: 0; right: 0;">
            <img [src]="item.icon" style="object-fit: cover; width: 100%; height: 100%;"
                 (click)="itemTapped($event, item)"/>
          </div>
          <ion-badge class="more" (click)="openMovieMenu($event, item)">
            <ion-icon name="md-refresh"
                      style="padding-right: 3px !important;; padding-left: 3px !important;"></ion-icon>
          </ion-badge>
          <p class="duration">{{item.duration}}</p>
        </div>
        <p col-12 style="color: #8c8c8c">{{item.title}}</p>
        <p col-12>
          <ion-badge float-left class="badge artist" (click)="openArtists($event, item)">
            <ion-badge float-left class="badge artist">+</ion-badge>
          </ion-badge>
          <ion-badge float-left class="badge artist" *ngFor="let artist of item.artists">
            {{artist.name}}&nbsp;&nbsp;
            <ion-badge class="remove" (click)="removeArtist($event, item, artist)">X</ion-badge>
          </ion-badge>
        </p>
        <p col-12 style="padding-bottom: 16px !important;">
          <ion-badge float-left class="badge" (click)="openCategories($event, item)">
            <ion-badge float-left class="badge">+</ion-badge>
          </ion-badge>
          <ion-badge float-left class="badge" *ngFor="let category of item.categories">
            {{category.name}}&nbsp;&nbsp;
            <ion-badge class="remove" (click)="removeCategory($event, item, category)">X</ion-badge>
          </ion-badge>
        </p>
      </ion-item>
    </ion-row>
  </ion-grid>

</ion-content>
